<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Data Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/style.css? + '{{time}}">
</head>
<body>
    <div class="container mb-5 mt-3">
            <table id="mydatatable" class="table table-bordered table-striped mydatatable" style="width: 100%">
                <thead>
                    <tr>
            
                        {% for header in headings %}  <!--Requires Jinja2 to use-->
                            
                            <td> {{ header }} </td>
                            
                        {% endfor%}
                    </tr>  
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            {% for cell in row%}
                                <td> {{ cell }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %} 
                </tbody>
                
            </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script scr="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script scr="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $('.mydatatable').DataTable();
    </script>
</body>
</html>